* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D8E3FE;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.navmenu {
  width: 100%;
  height: 80px;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navmenu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.navmenu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navmenu__list li:hover {
  background: #dddada62;
}

.navmenu__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 0px 20px;
  color: #697CA6;
  width: 100%;
  height: 100%;
}

.navmenu__list li a:hover {
  color: #565d76;
}

.logo {
  z-index: 10;
  display: block;
  width: calc(25px + (30 - 25) * ((100vw - 320px) / (743 - 320)));
  height: calc(25px + (30 - 25) * ((100vw - 320px) / (743 - 320)));
  margin-right: calc(20px + (33 - 20) * ((100vw - 320px) / (743 - 320)));
  min-width: 30px;
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 300px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 100px;
}

@font-face {
  font-family: "OpenSans bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans sbold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.woff") format("woff"), url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand med";
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.woff") format("woff"), url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand bold";
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.woff") format("woff"), url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand light";
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.woff") format("woff"), url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto med";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.spoiler-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 0px 15px 0px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer !important;
}

.spoiler-button.active {
  color: #fd6767;
}

.spoiler-button.active:after {
  margin: 3px 0px 0px 7px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.spoiler-button:after {
  display: inline-block;
  margin: 0px 0px 0px 7px;
  padding: 5px 5px 5px 5px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  content: url("");
}

.spoiler-content li {
  padding: 5px 0px 5px 0px;
}

body {
  height: 100%;
  color: #8D96BD;
  font-family: Quicksand;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (743 - 320)));
}

body.fixed {
  overflow: hidden;
}

body button {
  color: #fff;
}

.main {
  width: 100%;
  background: #fff;
}

.main__body {
  background: #fff;
}

.fullscreen {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100vh;
  min-height: calc(500px + (500 - 500) * ((100vw - 320px) / (743 - 320)));
}

.head-foot-container {
  margin: auto;
}

.container {
  margin: auto;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: #00000046;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-window.active {
  overflow-y: scroll;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0px 0px 100% 0px;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fs-block {
  width: auto;
  height: 100vh;
  min-height: calc(500px + (500 - 500) * ((100vw - 320px) / (743 - 320)));
}

.title {
  color: #3D4F9F;
  font-family: Quicksand med;
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (743 - 320)));
}

.subtitle {
  text-transform: uppercase;
  font-family: Roboto med;
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (743 - 320)));
}

.main-title {
  font-family: Quicksand light;
  font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (743 - 320)));
}

.second-main-title {
  font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (743 - 320)));
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item a {
  display: inline-block;
  padding: 15px 15px 15px 15px;
}

.socials__item a:hover {
  color: #565d76;
}

.socials__item a:hover img {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.socials__item img {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.socials__item:first-child a {
  padding-left: 25px;
}

.socials__item:last-child a {
  padding-right: 25px;
}

.get-started {
  color: #3A79FF;
  padding: 13px 16px 13px 16px;
  background: #D2E1FF;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.get-started:hover {
  color: #0037ad;
  background: #b7cfff;
}

.get-started:active {
  -webkit-transform: translate(0, 5%);
      -ms-transform: translate(0, 5%);
          transform: translate(0, 5%);
}

@media (min-width: 426px) and (min-width: 768px) {
  .head-foot-container {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 55%;
  }
}

@media (max-width: 426px) {
  .spoiler-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .spoiler-button:after {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@media (max-width: 425px) {
  .head-foot-container {
    width: 95%;
  }

  .container {
    width: 95%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0px;
  }

  .container {
    width: 70%;
  }
}