* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  z-index: 5;
}

.header * {
  z-index: 5;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-bottom: 1px solid #d8e3fe;
  padding: 5px 5px 5px 5px;
}

.navmenu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navmenu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navmenu__list li:hover {
  background: #dddada62;
}

.navmenu__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
  padding-left: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
  padding-right: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
  color: #697CA6;
  font-family: Quicksand bold;
  width: 100%;
  height: 100%;
}

.navmenu__list li a:hover {
  color: #565d76;
}

.navmenu__list li a.active {
  color: #5E81FE;
}

.left-navmenu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fullscreen-navmenu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 3;
  width: 100%;
  height: 100%;
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (743 - 320)));
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #000000ad;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fullscreen-navmenu.active {
  right: 0;
}

.fullscreen-navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.fullscreen-navmenu__body:before {
  position: relative;
  top: 0;
  left: 0;
  content: url(".");
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
}

.fullscreen-navmenu ul {
  overflow: auto;
  width: 100%;
}

.fullscreen-navmenu ul li {
  text-align: center;
  padding: 25px 0px 25px 0px;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.fullscreen-navmenu ul li:last-child {
  border: none;
}

.fullscreen-navmenu ul li:hover {
  color: #beafaf;
}

.fullscreen-navmenu ul li a {
  color: #fff;
}

.header__burger {
  display: none;
  border-radius: 0px;
  background-color: transparent;
}

.header__burger.active {
  border-color: #fff;
  -webkit-transform: rotateZ(450deg);
      -ms-transform: rotate(450deg);
          transform: rotateZ(450deg);
}

.header__burger.active span {
  background-color: #fff;
}

.logo {
  z-index: 10;
  display: block;
  width: calc(25px + (30 - 25) * ((100vw - 320px) / (743 - 320)));
  height: calc(25px + (30 - 25) * ((100vw - 320px) / (743 - 320)));
  margin-right: calc(10px + (30 - 10) * ((100vw - 320px) / (743 - 320)));
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__body {
  display: grid;
  grid-template: 'logo navrow' 1fr 'null copyright' 0.5fr / 10% 90%;
  padding-top: calc(20px + (30 - 20) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (743 - 320)));
}

.footer__top {
  grid-area: navrow;
}

.footer__copyright {
  grid-area: copyright;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: calc(13px + (17 - 13) * ((100vw - 320px) / (743 - 320)));
}

.footer__socials {
  grid-area: socials;
}

.footer .logo {
  grid-area: logo;
  margin: auto;
}

.footer .navmenu__body {
  padding: 15px 0px 15px 0px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials-social-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px 20px 20px;
}

.footer__socials-social-item a img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

@font-face {
  font-family: "OpenSans bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans sbold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.woff") format("woff"), url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand med";
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.woff") format("woff"), url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand bold";
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.woff") format("woff"), url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand light";
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.woff") format("woff"), url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto med";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.spoiler-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 0px 25px 0px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer !important;
}

.spoiler-button.active {
  color: #495274;
}

.spoiler-button.active:before {
  margin: 0px 20px 0px 0px;
  -webkit-animation: spoiler-arrow-totop 0.5s;
          animation: spoiler-arrow-totop 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.spoiler-button:before {
  display: inline-block;
  content: "";
  margin: 0px 20px 0px 0px;
  padding: 5px 5px 5px 5px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #8E96B7;
  border-right: 3px solid #8E96B7;
  border-radius: 2px;
  -webkit-animation: spoiler-arrow-tobottom 0.5s;
          animation: spoiler-arrow-tobottom 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@-webkit-keyframes spoiler-arrow-totop {
  0% {
    -webkit-transform: rotate(135deg) translate(0%, 50%);
            transform: rotate(135deg) translate(0%, 50%);
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-50%, 0%);
            transform: rotate(-45deg) translate(-50%, 0%);
  }
}

@keyframes spoiler-arrow-totop {
  0% {
    -webkit-transform: rotate(135deg) translate(0%, 50%);
            transform: rotate(135deg) translate(0%, 50%);
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-50%, 0%);
            transform: rotate(-45deg) translate(-50%, 0%);
  }
}

@-webkit-keyframes spoiler-arrow-tobottom {
  0% {
    -webkit-transform: rotate(-45deg) translate(-50%, 0%);
            transform: rotate(-45deg) translate(-50%, 0%);
  }

  100% {
    -webkit-transform: rotate(-225deg) translate(0%, 50%);
            transform: rotate(-225deg) translate(0%, 50%);
  }
}

@keyframes spoiler-arrow-tobottom {
  0% {
    -webkit-transform: rotate(-45deg) translate(-50%, 0%);
            transform: rotate(-45deg) translate(-50%, 0%);
  }

  100% {
    -webkit-transform: rotate(-225deg) translate(0%, 50%);
            transform: rotate(-225deg) translate(0%, 50%);
  }
}

body {
  height: 100%;
  color: #8D96BD;
  font-family: Quicksand;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (743 - 320)));
}

body.fixed {
  overflow: hidden;
}

body button {
  color: #fff;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (743 - 320)));
}

.main {
  width: 100%;
  background: #fff;
}

.main__body {
  background: #fff;
}

.refs-block__ref {
  font-family: Quicksand bold;
  color: #fff;
  border: 1px solid #fff;
  border-right: none;
  padding: 13px 10px 13px 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.refs-block__ref:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.refs-block__ref:last-child {
  border-right: 1px solid #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.refs-block__ref:hover {
  background: #fff;
  color: #000;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0px 0px 100% 0px;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fs-block {
  min-height: 100vh;
  height: auto;
}

.title {
  color: #3D4F9F;
  font-family: Quicksand med;
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (743 - 320)));
}

.subtitle {
  display: inline-block;
  text-transform: uppercase;
  font-family: Roboto med;
  color: #3D4F9F;
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (743 - 320)));
}

.main-title {
  font-family: Quicksand light;
  font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (743 - 320)));
  color: #3D4F9F;
}

.second-main-title {
  font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (743 - 320)));
}

.fullscreen {
  position: relative;
  text-align: center;
  background: #ecf1ff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100vh;
  min-height: calc(500px + (500 - 500) * ((100vw - 320px) / (743 - 320)));
}

.fullscreen__body {
  z-index: 1;
  padding: 0px 0px 0px 0px;
}

.fullscreen__body * {
  z-index: 1;
}

.fullscreen__bg-image {
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.fullscreen__bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.fullscreen__subtitle {
  padding: 0px 0px 20px 0px;
}

.fullscreen__title {
  font-family: Quicksand light;
  padding: 0px 0px 20px 0px;
}

.fullscreen__title span {
  font-family: Quicksand bold;
}

.fullscreen__text {
  line-height: 1.9;
  padding: 0px 0px 20px 0px;
}

.fullscreen__play-btn {
  background: #fff;
  border-radius: 50%;
}

.fullscreen__play-btn img {
  padding: 20px 20px 20px 20px;
}

.fullscreen__top-left-cloud {
  top: 25%;
  left: 23%;
}

.fullscreen__center-left-cloud {
  top: 40%;
  left: 0%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.fullscreen__top-right-cloud {
  top: 17%;
  right: 12%;
}

.fullscreen__bottom-left-cloud {
  bottom: 15%;
  left: 20%;
}

.fullscreen__bottom-right-cloud {
  bottom: 0;
  right: 12%;
}

.mouse-event-point {
  position: absolute;
  z-index: 2;
  width: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
  height: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
  border-radius: 50%;
  background: #fff;
  border: 3px solid #5E80FE;
}

.mouse-event-point * {
  z-index: 2;
}

.mouse-event-point:after {
  content: '';
  display: inline-block;
  -webkit-transform: translate(-43%, -120%);
      -ms-transform: translate(-43%, -120%);
          transform: translate(-43%, -120%);
  height: 100px;
  width: 100px;
}

.mouse-event-point:hover .mouse-event-point__content {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.mouse-event-point__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  padding: 15px 50px 15px 50px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #D8E0F7;
  -webkit-transform: translate(-43%, -120%);
      -ms-transform: translate(-43%, -120%);
          transform: translate(-43%, -120%);
}

.mouse-event-point__content::after {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 100%;
  width: 100%;
  content: '';
}

.first-mouse-event-point {
  bottom: 5%;
  left: 5%;
}

.second-mouse-event-point {
  bottom: 10.3%;
  left: 40%;
}

.third-mouse-event-point {
  bottom: 29.7%;
  left: 65%;
}

.fourth-mouse-event-point {
  top: 50.4%;
  right: 5%;
}

.fs-slider {
  height: 100%;
}

.fs-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fs-slider__pagination {
  bottom: 3% !important;
}

.customers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px 30px 0px;
}

.customers__customer {
  padding: 20px 20px 20px 20px;
}

.customer {
  display: inline-block;
}

.customer__logo {
  fill: #D6DAE5;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.blog {
  position: relative;
  background: #F5F8FF;
}

.blog__body {
  text-align: center;
  padding-top: calc(30px + (90 - 30) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(30px + (90 - 30) * ((100vw - 320px) / (743 - 320)));
}

.blog__subtitle {
  padding: 0px 0px 30px 0px;
}

.blog__title {
  padding: 0px 0px 50px 0px;
  color: #3D4F9F;
}

.blog__slider-pagination {
  bottom: 7% !important;
}

.blog__slider-pagination span {
  margin: 0px 5px 0px 5px !important;
}

.blog__slider-pagination span:before {
  display: inline-block;
  content: '';
  padding: 15px 15px 15px 15px;
  -webkit-transform: translate(-30%, -30%);
      -ms-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}

.blog__slider-button-prev,
.blog__slider-button-next {
  left: 9% !important;
  z-index: 1 !important;
}

.blog__slider-button-prev:after,
.blog__slider-button-next:after {
  padding: 50px 0px 50px 0px !important;
  content: url("../img/icons/sliderArrowLeft.svg") !important;
}

.blog__slider-button-next {
  left: 90% !important;
}

.blog__slider-button-next:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.post {
  background: #fff;
  border: 1px solid #D8E3FE;
}

.post__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 35px 60px 35px;
}

.post__images-block {
  display: grid;
  grid-template: 'image image image' auto 'image image image' auto / 1fr 1fr 1fr;
  gap: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.post__image img {
  border-radius: 5px;
}

.post__text-block {
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0px 0px 0px 30px;
}

.post__title {
  color: #3D4F9F;
  font-family: Quicksand;
  font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (743 - 320)));
  padding: 0px 0px 30px 0px;
}

.post__text {
  line-height: 1.9;
  font-family: Roboto;
  padding: 0px 0px 30px 0px;
}

.post__read-more-ref {
  color: #3A79FF;
  background: #D2E1FF;
  padding: 13px 16px 13px 16px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.post__read-more-ref:hover {
  color: #D2E1FF;
  background: #3A79FF;
}

.post__add-to-book {
  color: #A6B6DA;
  padding: 13px 16px 13px 16px;
  margin: 0px 0px 0px 10px;
  -webkit-transition: all 0.05s ease;
  -o-transition: all 0.05s ease;
  transition: all 0.05s ease;
}

.post__add-to-book:hover {
  color: #303030;
  background: #D2E1FF;
}

.about-app {
  position: relative;
  text-align: center;
}

.about-app__body {
  padding-top: calc(30px + (90 - 30) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(30px + (90 - 30) * ((100vw - 320px) / (743 - 320)));
}

.about-app__subtitle {
  margin: 0px 0px 30px 0px;
}

.about-app__title {
  color: #3D4F9F;
  margin: 0px 0px 20px 0px;
}

.about-app__benefits-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: calc(30px + (50 - 30) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (743 - 320)));
}

.about-app__refs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-app__refs span {
  text-transform: uppercase;
  display: inline-block;
  padding: 0px 15px 0px 15px;
}

.benefits-item {
  width: calc(90px + (120 - 90) * ((100vw - 320px) / (743 - 320)));
  padding: 15px 0px 15px 0px;
}

.benefits-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background: #F1F5FF;
  border-radius: 50%;
  margin: 0px 0px 30px 0px;
}

.benefits-item__title {
  color: #4074F8;
  font-family: OpenSans bold;
  margin: 0px 0px 30px 0px;
}

.benefits-item__text {
  line-height: 1.7;
  font-family: OpenSans sbold;
  text-align: center;
}

.customers-quotes {
  position: relative;
  background: #EAF0FF;
}

.customers-quotes__body {
  padding-top: calc(30px + (50 - 30) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (743 - 320)));
}

.customers-quotes__info {
  display: inline-block;
  width: 50%;
}

.customers-quotes__subtitle {
  padding: 0px 0px 40px 0px;
}

.customers-quotes__title {
  padding: 0px 0px 25px 0px;
}

.customers-quotes__text {
  width: 70%;
  line-height: 1.9;
}

.customers-quotes__slides {
  display: inline-block;
  width: 50%;
  position: absolute;
}

.customers-quotes__pagination {
  bottom: 15% !important;
  width: 64% !important;
}

.customers-quotes-slide {
  padding: 0px 0px 150px 0px;
  opacity: 45%;
}

.customers-quotes-slide__body {
  position: relative;
  padding: 40px 70px 40px 70px;
  margin: 0px 30px 0px 30px;
  background: #fff;
}

.customers-quotes-slide__text {
  font-family: Roboto;
  color: #676F95;
  line-height: 1.7;
}

.customers-quotes-slide__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 60px;
  height: 60px;
  padding: 0px 0px 60px 0px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.customers-quotes-slide__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.customers-quotes-slide.swiper-slide-active {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 100%;
}

.customers-quotes-slide.swiper-slide-active .customers-quotes-slide__image {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.customers-quotes-slide.swiper-slide-active .customers-quotes-slide__body {
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.questions-answers__body {
  text-align: center;
  padding-top: calc(20px + (60 - 20) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (743 - 320)));
}

.questions-answers__subtitle {
  margin: 0px 0px 20px 0px;
}

.questions-answers__title {
  margin: 0px 0px 60px 0px;
}

.questions-answers__spoiler-wrapper {
  border-bottom: 1px solid #D8E3FE;
  text-align: left;
}

.questions-answers__sp-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #8E96B7;
}

.questions-answers__sp-button:hover {
  color: #495274;
}

.questions-answers__sp-button:after {
  content: '?';
}

.questions-answers__sp-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px 25px 0px;
}

.questions-answers__sp-content p {
  line-height: 1.9;
  padding: 0px 30px 0px 30px;
}

.questions-answers__sp-content a {
  padding: 15px 20px 15px 20px;
  background: #E8ECF4;
  font-family: Quicksand med;
  color: #7382A3;
}

.questions-answers__sp-content a:hover {
  background: #7382A3;
  color: #E8ECF4;
}

.plan-and-manage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F8FF;
}

.plan-and-manage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: calc(20px + (90 - 20) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(20px + (90 - 20) * ((100vw - 320px) / (743 - 320)));
}

.plan-and-manage__text-block {
  padding: 15px 15px 15px 15px;
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  position: relative;
}

.plan-and-manage__subtitle {
  margin: 0px 0px 30px 0px;
}

.plan-and-manage__title {
  font-family: Quicksand med;
  margin: 0px 0px 30px 0px;
}

.plan-and-manage__title span {
  font-family: Quicksand light;
}

.plan-and-manage__text {
  line-height: 1.9;
  margin: 0px 0px 70px 0px;
}

.plan-and-manage__ref {
  color: #ADB4D2;
  border-color: #D1D1E4;
  border-right: 1px solid #D1D1E4;
  border-radius: 3px;
}

.plan-and-manage__ref:last-child {
  border-right: 1px solid #D1D1E4;
}

.plan-and-manage__ref:hover {
  background: #6f9af7;
  border-color: #6f9af7;
  color: #fff;
}

.plan-and-manage__video-btn:after {
  content: url("../img/icons/playArrow-white.svg");
}

.plan-and-manage__image {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.plan-and-manage__image img {
  width: calc(320px + (550 - 320) * ((100vw - 320px) / (743 - 320)));
  height: calc(208px + (357 - 208) * ((100vw - 320px) / (743 - 320)));
}

.our-statistics__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-statistics__block {
  padding-top: calc(20px + (40 - 20) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (743 - 320)));
  padding-right: 90px;
  padding-left: 90px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.our-statistics__block * {
  margin: 0px 0px 20px 0px;
}

.our-statistics__block *:last-child {
  margin-bottom: 0;
}

.our-statistics__numbers {
  display: block;
  font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (743 - 320)));
}

.our-statistics__text {
  line-height: 1.3;
}

.our-statistics__users {
  padding-right: 90px;
  padding-left: 90px;
  background: #D8E3FE;
  color: #5E80FF;
}

.our-statistics__productivity {
  background: #6384f9;
  color: #fff;
  text-align: right;
}

.get-started {
  background: #6384f9;
  position: relative;
}

.get-started__body {
  text-align: center;
  color: #fff;
  padding-top: calc(30px + (50 - 30) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(40px + (60 - 40) * ((100vw - 320px) / (743 - 320)));
}

.get-started__main-content * {
  position: relative;
  z-index: 1;
}

.get-started__title {
  color: #fff;
  margin: 0px 0px 30px 0px;
}

.get-started__title span {
  font-family: Quicksand med;
}

.get-started__subtitle {
  color: #fff;
  margin: 0px 0px 50px 0px;
}

.get-started__text {
  line-height: 1.9;
  margin: 0px 0px 80px 0px;
}

.get-started__ref {
  font-family: Quicksand bold;
  color: #fff;
  border: 1px solid #fff;
  border-right: none;
  padding: 13px 10px 13px 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.get-started__ref:last-child {
  border-right: 1px solid #fff;
}

.get-started__ref:hover {
  background: #fff;
  color: #000;
}

.get-started__clouds-left {
  left: 0;
  top: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.get-started__clouds-right {
  right: 0;
  top: 70%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.newsletter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: calc(20px + (50 - 20) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (743 - 320)));
}

.newsletter__text-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  margin: 0px 80px 0px 0px;
}

.newsletter__title {
  font-family: Quicksand bold;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (743 - 320)));
  color: #3D4F9F;
}

.newsletter__text {
  margin: 15px 0px 0px 0px;
  line-height: 1.9;
  font-family: Roboto;
}

.newsletter__signup-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.signup-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.signup-form__email-input {
  margin: 0px 15px 0px 0px;
  padding: 20px 10px 20px 20px;
  background: #EFEFF7;
  color: #7A85AD;
  border-radius: 5px;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (743 - 320)));
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.signup-form__email-input:focus {
  background: #e7e7ec;
}

.signup-form__email-input::-webkit-input-placeholder {
  color: #7A85AD;
}

.signup-form__email-input::-moz-placeholder {
  color: #7A85AD;
}

.signup-form__email-input:-ms-input-placeholder {
  color: #7A85AD;
}

.signup-form__email-input::-ms-input-placeholder {
  color: #7A85AD;
}

.signup-form__email-input::placeholder {
  color: #7A85AD;
}

.signup-form__submit {
  padding: 20px 60px 20px 60px;
  border-radius: 5px;
  min-width: 180px;
  background: #4D6CE1;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.signup-form__submit:hover {
  background: #4663cc;
}

.signup-form__submit:active {
  -webkit-transform: translate(0, 5%);
      -ms-transform: translate(0, 5%);
          transform: translate(0, 5%);
}

.head-foot-container {
  margin: auto;
}

.container,
.big-container {
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: #00000046;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-window.active {
  overflow-y: scroll;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-window__video {
  position: relative;
  padding: 0px 0px 57% 0px;
  width: 70vw;
}

.modal-window__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-window__image {
  width: auto;
  height: 60vh;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item a {
  display: inline-block;
  padding-top: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
  padding-left: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
  padding-right: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
  padding-bottom: calc(12px + (15 - 12) * ((100vw - 320px) / (743 - 320)));
}

.socials__item a:hover {
  color: #565d76;
}

.socials__item a:hover img {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.socials__item img {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.socials__item:first-child a {
  padding-left: 35px;
}

.socials__item:last-child a {
  padding-right: 35px;
}

.read-more-btn {
  color: #D43F3F;
  font-family: Quicksand bold;
  padding: 13px 16px 13px 16px;
  background: #FFD7D7;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.read-more-btn:hover {
  color: #c93535;
  background: #fdbebe;
}

.read-more-btn:active {
  -webkit-transform: translate(0, 5%);
      -ms-transform: translate(0, 5%);
          transform: translate(0, 5%);
}

.get-started-btn {
  color: #3A79FF;
  font-family: Quicksand bold;
  padding: 13px 16px 13px 16px;
  background: #D2E1FF;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.get-started-btn:hover {
  color: #0037ad;
  background: #b7cfff;
}

.get-started-btn:active {
  -webkit-transform: translate(0, 5%);
      -ms-transform: translate(0, 5%);
          transform: translate(0, 5%);
}

.cloud {
  position: absolute;
  pointer-events: none;
}

.determinater {
  display: inline-block;
  height: 2px;
  width: 28px;
  margin: 0px 20px 0px 20px;
  background: #DAE4FE;
}

@media (min-width: 426px) {
  .footer__socials {
    display: none;
  }
}

@media (min-width: 426px) and (min-width: 768px) {
  .head-foot-container {
    width: 85%;
  }
}

@media (min-width: 600px) {
  .fullscreen-navmenu {
    display: none;
  }
}

@media (min-width: 768px) {
  .customer:hover .customer__logo {
    fill: #5982E7;
  }

  .post__big-image {
    grid-column: span 2;
    grid-row: span 2;
  }

  .container,
  .big-container {
    width: 55%;
  }

  .big-container {
    width: 70%;
  }
}

@media (min-width: 1220px) {
  .about-app__benefits-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1270px) {
  .post__images-block {
    padding: 0px 30px 0px 0px;
  }
}

@media (max-width: 1270px) {
  .fullscreen__bg-image {
    display: none;
  }

  .mouse-event-point {
    display: none;
  }

  .blog__slider-pagination {
    bottom: 4% !important;
  }

  .post__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }

  .post__text-block {
    padding: 0px 0px 30px 0px;
  }

  .customers-quotes__info {
    display: block;
    text-align: center;
    width: 100%;
  }

  .customers-quotes__text {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }

  .customers-quotes__slides {
    width: 100%;
    position: static;
  }

  .customers-quotes__pagination {
    width: 100% !important;
  }

  .plan-and-manage:before {
    display: inline-block;
    content: '';
    background: #f5f8ffec;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .plan-and-manage__text-block {
    color: #3e4461;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
  }

  .plan-and-manage__ref {
    background: #f5f8ff;
  }

  .plan-and-manage__image {
    top: 50%;
    right: 55%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

@media (max-width: 1250px) {
  .signup-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .signup-form__email-input {
    margin: 0px 0px 15px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (max-width: 1220px) {
  .benefits-item {
    margin: 0px 15px 0px 15px;
  }

  .determinater {
    display: none;
  }
}

@media (max-width: 1110px) {
  .navmenu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .right-navmenu,
  .left-navmenu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer__body {
    grid-template: 'logo navrow' 1fr 'copyright copyright' 0.1fr / 20% 70%;
  }

  .refs-block__ref {
    background: #fff;
    color: #000;
  }

  .customers__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .customer__logo {
    fill: #5982E7;
  }

  .blog__slider-pagination {
    bottom: 10px !important;
  }

  .blog__slider-button-prev,
  .blog__slider-button-next {
    display: none !important;
  }

  .post__body {
    padding-top: calc(20px + (40 - 20) * ((100vw - 320px) / (743 - 320)));
    padding-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (743 - 320)));
    padding-right: calc(10px + (20 - 10) * ((100vw - 320px) / (743 - 320)));
    padding-left: calc(10px + (20 - 10) * ((100vw - 320px) / (743 - 320)));
  }

  .post__images-block {
    grid-template: 'image image' auto 'image image' auto / 1fr 1fr;
  }

  .post__image:nth-child(2n + 1):first-child {
    grid-column: span 2;
  }

  .customers-quotes-slide__body {
    min-width: auto;
    padding: 20px 45px 40px 45px;
  }

  .plan-and-manage__text-block {
    color: #3e4461;
  }

  .plan-and-manage__ref {
    background: #4C85FF;
    border-color: #6f9af7;
    color: #fff;
  }

  .plan-and-manage__video-btn {
    background: #4C85FF;
    border-color: #4C85FF;
    color: #fff;
  }

  .get-started__ref:first-child {
    border-right: 1px solid #000;
  }

  .modal-window__video {
    width: 85vw;
  }
}

@media (max-width: 670px) {
  .our-statistics__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
  }

  .our-statistics__productivity {
    text-align: center;
  }

  .newsletter__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .newsletter__text-body {
    margin: 0px 0px 15px 0px;
  }

  .newsletter__signup-form {
    width: 100%;
  }

  .signup-form__email-input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 70%;
            flex: 1 0 70%;
  }
}

@media (max-width: 600px) {
  .questions-answers__sp-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .questions-answers__sp-content p {
    padding-bottom: 15px;
  }
}

@media (max-width: 560px) {
  .about-app__refs .determinater {
    display: none;
  }
}

@media (max-width: 426px) {
  .left-navmenu {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }

  .header__burger {
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header__burger span {
    height: 0.2rem;
    width: 100%;
    background: #3D4F9F;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .mobile-hidden {
    display: none !important;
  }

  .footer__body {
    grid-template: 'logo navrow' 1fr 'socials socials' 1fr 'copyright copyright' 0.1fr / 20% 70%;
  }

  .fullscreen__bottom-left-cloud {
    left: 0;
  }

  .fullscreen__bottom-right-cloud {
    right: 0%;
  }

  .blog__slider-pagination {
    display: none;
  }

  .get-started__ref {
    background: #fff;
    color: #000;
  }

  .get-started__clouds-left {
    width: 200px;
    height: 200px;
  }

  .get-started__clouds-left img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .get-started__clouds-right {
    width: 100px;
    height: 100px;
  }

  .get-started__clouds-right img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 425px) {
  .head-foot-container {
    width: 95%;
  }

  .container,
  .big-container {
    width: 95%;
  }

  .big-container {
    width: 95%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0px;
  }

  .container,
  .big-container {
    width: 70%;
  }

  .big-container {
    width: 80%;
  }
}