@import "mixins"

.header
    display: flex
    justify-content: center
    background: #fff
    z-index: 5
    *
        z-index: 5

    &__body

.fixed-header
    position: fixed
    top: 0
    left: 0
    @include size(100%, auto)

.nav-wrapper
    display: flex
    justify-content: center
    align-items: center
    flex-flow: row wrap
    border-bottom: 1px solid #d8e3fe
    padding: 5px 5px 5px 5px

.navmenu
    flex: 1 1 auto

    &__body
        display: flex
        height: 100%
        align-items: center
        justify-content: flex-end

    &__list
        display: flex
        align-items: center
        justify-content: center

        @media (max-width: 1110px)
            flex-flow: row wrap

        li
            display: flex
            align-items: center

            transition: all 0.2s ease 0s

            &:hover
                background: #dddada62

            a
                display: flex
                justify-content: center
                align-items: center
                @include adaptive-property ('padding-top',15,12)
                @include adaptive-property ('padding-left',15,12)
                @include adaptive-property ('padding-right',15,12)
                @include adaptive-property ('padding-bottom',15,12)

                color: #697CA6
                @include size(100%, 100%)

                &:hover
                    color: #565d76

.right-navmenu

.left-navmenu
    justify-content: flex-start

    @media (max-width: 426px)
        flex-basis: 80%

.right-navmenu, .left-navmenu
    @media (max-width: 1110px)
        justify-content: center

.fullscreen-navmenu
    position: fixed
    top: 0
    right: -100%
    z-index: 3
    @include size (100%,100%)
    @include adaptive-property ('font-size',25, 20)
    color: #fff

    display: flex
    flex-flow: column nowrap

    background: #000000ad
    transition: all 0.5s ease

    @media (min-width: 600px)
        display: none

    &.active
        right: 0

    &__body
        display: flex
        flex-flow: column nowrap
        align-items: center
        overflow: auto
        &:before
            position: relative
            top: 0
            left: 0
            content: url('.')
            flex: 0 0 70px

    ul
        overflow: auto
        width: 100%
        li
            text-align: center
            padding: 25px 0px 25px 0px
            margin: 0 auto

            width: 50%
            cursor: pointer
            border-bottom: 1px solid #fff
            &:last-child
                border: none

            &:hover
                color: #beafaf
            a
                color: #fff

.header__burger
    display: none
    border-radius: 0px
    background-color: transparent

    @media (max-width: 426px)
        z-index: 5
        display: flex
        flex-flow: column nowrap
        justify-content: space-between
        align-items: center

        width: 30px
        height: 20px

        cursor: pointer
        transition: all 0.5s

        span
            height: 0.2rem
            width: 100%
            background: #3D4F9F
            transition: all 0.5s

    &.active
        border-color: #fff
        transform: rotateZ(450deg)
        span
            background-color: #fff

.logo
    z-index: 10
    display: block
    @include adaptive-property ('width', 30, 25)
    @include adaptive-property ('height', 30, 25)
    @include adaptive-property ('margin-right',30,10)
    min-width: 30px

    img
        @include size (100%,100%)
        border-radius: 50%

.mobile-hidden
    @media (max-width: 426px)
        display: none !important
